.small-form{
	padding-top: 80px;
	max-width: 330px;
	margin: 0 auto;
}

.login-redirect{
	margin-top: 10px;
	font-weight: bold;
	text-align: center;
}

.form-heading{
	font-weight: bold;
	margin-bottom: 15px;
}

.portfolio-menu{
	padding-left: 50px;
}

.building-menu-footer{
	color: #aaaaaa;
}

.icon-link {
	color: white;
}

.top-content {
	height: 300px;
	overflow: auto;
	padding: 0;
}

li span.glyphicon{
  display: none;
}

li:hover span.glyphicon {
  display: inline-block;
}

input[type="text"], input[type="password"], input[type="submit"], input[type="number"], textarea{
	margin: 2px;
}

body{
	padding-top: 90px;
}

ul li.active a{
	background-color: #5bc0de !important;
	font-weight: bold;
}

* {
  border-radius: 0 !important;
  -moz-border-radius: 0 !important;
}