<template name="signup">
	<div class="small-form">
	  <form class="signup">
	  	<h2 class="form-heading">Sign Up</h2>
	  	<input class="form-control" type="text" name="firstname" placeholder="First Name" />
	  	<input class="form-control" type="text" name="lastname" placeholder="Last Name" />
	  	<input class="form-control" type="text" name="phone" placeholder="Phone" />
	  	<input class="form-control" type="text" name="username" placeholder="Username" />
	  	<input class="form-control" type="password" name="password" placeholder="Password" />
	  	<input class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="Sign Up"/>
	  </form>
	  <div class="login-redirect">
	  	<a class="showSignin login-redirect">Already have an account? Sign In</a>
	  </div>
	</div>
</template>

<template name="signin">
	<div class="small-form">
	  <form class="login">
	  	<h2 class="form-heading">Sign In</h2>
	  	<input class="form-control" type="text" name="username" placeholder="Username" autofocus/>
	  	<input class="form-control" type="password" name="password" placeholder="Password" />
	  	<input class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="Sign In"/>
	  </form>
	  <div class="login-redirect">
	  	<a class="showSignup">Don't have an account? Sign Up</a>
	  </div>
	</div>
</template>

<template name="tenant">
	<div class="small-form" style=" text-align:center;">
		<form class="frmTenantProfile">
			<h2 class="form-heading">You are logged in as tenant.</h2>
			<input class="form-control" type="text" name="firstname" placeholder="First Name" value="{{currentUser.profile.firstname}}"/>
			<input class="form-control" type="text" name="lastname" placeholder="Last Name" value="{{currentUser.profile.lastname}}"/>
			<input class="form-control" type="text" name="phone" placeholder="Phone" value="{{currentUser.profile.phone}}"/>
			<input class="btn btn-lg btn-primary btn-block" type="submit" name="submit" value="Update"/>
		</form>
	</div>
</template>