<head>
	<title>Greenview</title>
</head>

<body>

	{{> addPortfolio}}
	{{> addBuilding}}
	{{> addUnit}}
	{{> editUnit}}
	{{> ownerProfile}}

	<nav class="navbar navbar-default navbar-fixed-top">
	   <div class="container-fluid">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="#">
		        Greenview
		      </a>
		    </div>
		    {{#if currentUser}}
		    <div class="navbar-right">
		    	<p class="navbar-text">Welcome, <a href="#updateProfileModal" data-toggle="modal" class="navbar-link">{{currentUser.profile.firstname}}</a></p>
		    	<p class="navbar-text logoutLink"><a href="#" class="navbar-link">Logout</a></p>
		    </div>
		    {{/if}}
		</div>
	</nav>	    
	    {{#unless currentUser}}
			{{#if isSigningUp}}
				{{> signup}}
			{{else}}
				{{> signin}}
			{{/if}}
		{{else}}
			{{#if currentUser.profile.isTenant}}
				{{> tenant}}
			{{else}}
				{{> owner}}
			{{/if}}
	    {{/unless}}
	  
</body>
