<template name="owner">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-md-offset-1" style="padding-right:1px;">
				<div class="panel panel-primary">
					<div class="panel-heading">
						Portfolio Items
						<a class="addPortfolio icon-link" href="#addPortfolioModal" data-toggle="modal">
							<span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
						</a>
					</div>
					<div role="navigation" class="panel-body top-content">
					   	<ul class="nav nav-pills nav-stacked">
					   		{{#each portfolios}}
								<li class="portfolioLink show-hidden-icons" role="presentation">
									<a>
										<a href = "#">{{portfolioName}}</a>
										<span class= "deletePortfolio list-icon glyphicon glyphicon-remove pull-right" aria-hidden="true"></span>
										<span class= "editPortfolio list-icon glyphicon glyphicon-edit pull-right"  data-target="#addPortfolioModal" data-toggle="modal" aria-hidden="true" style="padding-right: 4px;"></span>
									</a>
								</li>
							{{/each}}
						</ul>
					</div>
				</div>
			</div><!--First Panel-->
			<div class="col-md-7"  style="padding-left:1px;">
				<div class="panel panel-primary">
				  	<div class="panel-heading">
				  		{{#if selectedPortfolio}}
				  			Buildings in {{selectedPortfolio}}
				  		{{else}}
				  			Select a portfolio
				  		{{/if}}
				  		<a class="addBuilding icon-link" href="#addBuildingModal" data-toggle="modal">
							<span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
						</a>
				  	</div>
				  	<div class="panel-body top-content">
				  		<div class="list-group">
				  			{{#if buildings}}
					  			{{#each buildings}}
								  	<a class="buildingLink list-group-item">
								    	<h5 class="pull-left list-group-item-heading"><strong>{{name}}</strong></h5>
								    	<div class="dropdown pull-right">
											<span class="dropdown-toggle" data-toggle="dropdown" >
											    <span class="glyphicon glyphicon-menu-down"></span>
											</span>
											<ul class="dropdown-menu">
												<li><a class="editBuilding" href="#addBuildingModal" data-toggle="modal">Edit</a></li>
											    <li><a class="deleteBuilding" href="#">Delete</a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
								    	<p class="list-group-item-text">{{address}}</p>
								    	<p class="building-menu-footer">Owner: {{owner}}</p>
								  	</a>
							  	{{/each}}
							{{/if}}
						</div>
				  	</div>
				 </div>
			</div><!-- Sesond Panel -->
		</div><!-- Row -->
		<div class="row">
			<div class="col-md-10 col-md-offset-1">
				<div class="panel panel-primary">
					<div class="panel-heading">
						{{#if selectedBuilding}}
							Units in {{selectedBuilding}}
						{{else}}
							Select a Building
						{{/if}}
						<a class="addUnit icon-link" href="#addUnitModal" data-toggle="modal">
							<span class="glyphicon glyphicon-plus pull-right" aria-hidden="true"></span>
						</a>
					</div>
					<table class="table table-striped">
						<thead>
							<tr>
								<th>
									Unit
								</th>
								<th>
									Primary Tenant
								</th>
								<th>
									Number of residents
								</th>
								<th>
									Area sqft
								</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{{#if buildingUnits}}
								{{#each buildingUnits}}
									<tr>
										<td>
											{{unitName}}
										</td>
										<td>
											{{primaryTenant}}
										</td>
										<td>
											{{residents}}
										</td>
										<td>
											{{area}}
										</td>
										<td>
											<span class= "editUnit list-icon glyphicon glyphicon-edit"  data-target="#editUnitModal" data-toggle="modal" aria-hidden="true" style="padding-right: 4px;"></span>
											<span class= "deleteUnit list-icon glyphicon glyphicon-remove" aria-hidden="true"></span>
										</td>
									</tr>
								{{/each}}
							{{/if}}
						</tbody>
					</table>
				</div>
			</div><!--units div-->
		</div><!--row-->
	</div>
</template>