<template name="addPortfolio">
	<!-- Modal Add Portfolio-->
	<div class="modal fade" id="addPortfolioModal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title"> {{#if isEdit}}Edit {{else}}Add {{/if}}Portfolio</h4>
	      </div>
	        <form class="frmAddPortfolio" id="frmAddPortfolio">
		      <div class="modal-body"> 
		        <input class="form-control" type="text" placeholder="Portfolio Name" name="portfolioName" value="{{#if isEdit}}{{selectedPortfolio}}{{/if}}"/>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        {{#if isEdit}}
		        	<button type="submit" class="btnEditPortfolio btn btn-primary">Save</button>
		        {{else}}
		        	<button type="submit" class="btnAddPortfolio btn btn-primary">Add Portfolio</button>
		        {{/if}}
		      </div>
	      </form>
	    </div>
	  </div>
	</div>
</template>

<template name="addBuilding">
	<!-- Modal Add Portfolio-->
	<div class="modal fade" id="addBuildingModal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">{{#if isEdit}}Edit {{else}}Add {{/if}}Building</h4>
	      </div>
	        <form class="frmAddBuilding" id="frmAddBuilding">
		      <div class="modal-body"> 
		        <input class="form-control" type="text" placeholder="Building Name" name="buildingName" value="{{#if isEdit}} {{name}} {{/if}}"/>
		        <input class="form-control" type="text" placeholder="Building Owner" name="ownerName" value="{{#if isEdit}} {{owner}} {{/if}}"/>
		        <textarea class="form-control" type="text" placeholder="Address" name="address" value="{{#if isEdit}} {{address}} {{/if}}"></textarea>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        {{#if isEdit}}
		        	<button type="submit" class="btnEditPortfolio btn btn-primary">Edit Building</button>
		        {{else}}
		        	<button type="submit" class="btnAddPortfolio btn btn-primary">Add Building</button>
		        {{/if}}
		        
		      </div>
	      </form>
	    </div>
	  </div>
	</div>
</template>

<template name="addUnit">
	<div class="modal fade" id="addUnitModal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Add Unit</h4>
	      </div>
	      	{{#if tenantError}}
	      		<div class="alert alert-danger" role="alert">{{tenantError}}</div>
	      	{{/if}}
	      	
	        <form class="frmUnit" id="frmUnit">
		    	<div class="modal-body"> 
			        <input class="form-control" type="text" placeholder="Unit Name" name="unitName"/>
			        <input class="form-control" type="number" placeholder="Number of Residents" name="residents"/>
			        <input class="form-control" type="number" placeholder="Area sqft." name="area"/>
			        <input class="form-control" type="text" placeholder="Primary Tenant" name="primaryTenant"/>
	        		<input class="form-control" type="email" name="tenantEmail" placeholder="Tenant's Email" required />
	        		<input class="form-control"  type="password" name="tenantPassword" placeholder="Tenant's Password" required />
	        	</div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		       	<button type="submit" class="btnAddUnit btn btn-primary">Add Unit</button>
		      </div>
	      </form>
	      
	    </div>
	  </div>
	</div>
</template>

<template name="editUnit">
	<div class="modal fade" id="editUnitModal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">Edit Unit</h4>
	      </div>
	      	{{#if tenantError}}
	      		<div class="alert alert-danger" role="alert">{{tenantError}}</div>
	      	{{/if}}
	      	{{#with selectedUnit}}
	        <form class="frmEditUnit" id="frmEditUnit">
		    	<div class="modal-body"> 
			        <input class="form-control" type="text" placeholder="Unit Name" name="unitName" value="{{unitName}}"/>
			        <input class="form-control" type="number" placeholder="Number of Residents" name="residents" value="{{residents}}"/>
			        <input class="form-control" type="number" placeholder="Area sqft." name="area" value="{{area}}"/>
			        <input class="form-control" type="text" placeholder="Primary Tenant" name="primaryTenant" value="{{primaryTenant}}"/>
	        		<input class="form-control" type="email" name="tenantEmail" placeholder="Tenant's Email" value="{{tenantEmail}}" required />
	        		<input class="form-control" id="editUnitPassword"  type="password" name="tenantPassword" placeholder="Tenant's Password" required/>
	        	</div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="submit" class="btnEditUnit btn btn-primary">Edit Unit</button>
		      </div>
	      </form>
	      {{/with}}
	    </div>
	  </div>
	</div>
</template>

<template name="ownerProfile">
	<!-- Modal Add Portfolio-->
	<div class="modal fade" id="updateProfileModal" tabindex="-1" role="dialog">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title"> Update profile info</h4>
	      </div>
	        <form class="frmUpdateProfile" id="frmUpdateProfile">
		      <div class="modal-body"> 
		        <input class="form-control" type="text" name="firstname" placeholder="First Name" value="{{currentUser.profile.firstname}}"/>
				<input class="form-control" type="text" name="lastname" placeholder="Last Name" value="{{currentUser.profile.lastname}}"/>
				<input class="form-control" type="text" name="phone" placeholder="Phone" value="{{currentUser.profile.phone}}"/>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="submit" class="btnUpdateProfile btn btn-primary">Save</button>
		      </div>
	      </form>
	    </div>
	  </div>
	</div>
</template>